.box {
  background-color: white;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);}

.box h2 {
  background-color: #6c757d;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.1rem;}

.footer {
  background-color: #000;}
